
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.alert{
    border: 2px solid var(--dark-border);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--dark-surface);
    color: var(--text-light);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;

    input{
        border: 2px solid var(--dark-border);
        border-radius: 10px;
        padding: 5px 10px;
        background-color: var(--dark-surface);
        color: var(--text-light);
        margin-right: 10px;
        width: 80%;
    }

    button{
        display: none;
    }
}

.top .button{
    background-color: var(--dark-surface);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100px;


    a{
        color: var(--text-light);
        text-decoration: none;
    }
    &:hover{
        background-color: var(--dark-border);
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p{
        margin: 0;
        padding: 0;
        color: var(--text-light);
    }
}
