.main-video-div{
    width: 50%;
    min-width: 100px;
    max-width: 500px;
    height: auto;
    min-height: 100px;
    max-height: 500px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    iframe{
        width: 100%;
        height: calc(65%);
        overflow: hidden;
        border-radius: 10px;
    }
}

.main-video-div:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.video-data-info{
    display: flex;
    flex-direction: column;
    padding: 10px;

    h5{
        color: var(--text-light);
        font-size: 18px;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    p{
        color: var(--text-muted);
        font-size: 14px;
        margin: 5px 0 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
